page[routes="/"] {
    width: 100%;
}

@media {
    page[routes="/"] blocks {
        height: 100%;
        width: 100%;
    }

    page[routes="/"] blocks > block {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    page[routes="/"] blocks > block box {
        font-size: 22px;
    }

    page[routes="/"] blocks > block > header {
        border-bottom: 1px solid #ccc;
        color: #fe0000;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    page[routes="/"] blocks > block > column {
        color: white;
        padding: 20px;
    }

    page[routes="/"] blocks > block > header > card {
        height: 50px;
        width: 100%;
    }

    page[routes="/"] blocks > block > header > card i {
        height: 50px;
        width: 50px;
    }

    page[routes="/"] blocks > block > header > card:first-child i:first-child {
        height: 50px;
        width: 20px;
    }

    page[routes="/"] blocks > block > header > card:first-child i + i {
        height: 50px;
        width: auto;
    }

    page[routes="/"] blocks > block > header > card:nth-child(1) > row {
        align-items: flex-start;
        width: 100%;
    }

    page[routes="/"] blocks > block > header > card:nth-child(1) > row {
        gap: 5px;
        width: 100%;
    }

    page[routes="/"] blocks > block > header > card:nth-child(1) > row > i:first-child {
        margin-left: 10px;
    }

    page[routes="/"] blocks > block > header > card:nth-child(1) > row > i:last-child {
        margin-right: 10px;
    }

    page[routes="/"] blocks > block > header > card:nth-child(2) > row {
        justify-content: center;
        width: 100%;
    }

    page[routes="/"] blocks > block > header > card:nth-child(3) > row {
        justify-content: flex-end;
        width: 100%;
    }

    page[routes="/"] blocks > block > flex {
        height: 100%;
        width: 100%;
    }

    page[routes="/"] blocks > block > flex > card {
        width: 100%;
    }

    page[routes="/"] blocks > block > flex > card > header {
        width: 100%;
    }

    page[routes="/"] blocks > block > flex > card > header {
        width: 100%;
    }

    page[routes="/"] blocks > block > flex > card > section {
        height: 100%;
        width: 100%;
    }

    page[routes="/"] blocks > block > flex > card > section > textarea {
        background: unset;
        border: unset;
        color: white;
        font-family: Arial;
        font-size: 16px;
        height: 100%;
        padding: 30px;
        resize: none;
        width: 100%;
    }

    page[routes="/"] blocks > block > flex > card > section > textarea:focus {
        outline: none;
    }

    page[routes="/"] blocks > block > column > card box > row {
        gap: 10px;
    }
}
